@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/Satoshi-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/Satoshi-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/Satoshi-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/Satoshi-Black.otf);
  font-weight: 800;
}

section {
  @apply py-[48px];
}
*{
  @apply font-satoshi; 
}
#benefits h3{
  @apply text-3xl font-bold;
}
#benefits p{
  @apply text-slate-gray text-xl;
}
#benefits img{
  @apply mt-[64px] lg:mt-0 w-full h-auto object-contain lg:max-h-[448px] !aspect-square;
}
#benefits .ben{
  @apply my-[16px] lg:my-[32px] flex flex-col gap-[16px];
}
#benefits .content{
  @apply flex flex-col gap-[24px] lg:flex-row lg:items-center lg:justify-center lg:my-[32px];
}