@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/Satoshi-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/Satoshi-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/Satoshi-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "satoshi";
  src: url(./assets/fonts/Satoshi-Black.otf);
  font-weight: 800;
}

section {
  @apply py-[48px];
}
*{
  @apply font-satoshi; 
}
#benefits p{
  @apply text-slate-gray text-xl;
}
#benefits img{
  @apply mt-[64px];
}